@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;  
}

html {
    // 10px = 0.625rem; 16px = 1rem
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;

}

body {
    box-sizing: border-box; 
    background-image: url('../img/hero.png');
	background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom, $color-black, transparent);
        opacity: .6; 
      }
}